<div class="jumbotron text-center">
  <i class="fas fa-lightbulb fa-5x text-danger"></i>
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">A bolt of genius ? Jot it down here !</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg">Add An Idea</a>
</div>
